#tabs {
    width: 500px;
    margin: 30px auto;
}

.tab {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid black;
    margin-right: 5px;
}

.whiteborder {
    border-bottom: 2px solid white;
    background: #eee;
}

.tabContent {
    border: 1px solid black;
    padding: 20px;
    margin-top: 5px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.generator {
    width: 500px;
    margin: 30px auto;
}

#block {
    width: 150px;
    height: 150px;
    background: lightblue;
    margin: 20px auto;
}

textarea {
    width: 100%;
    height: 120px;
}
